# Datatypes:
##  Defination : 
A datatype is a classification that specifies which type of value a variable can hold and what operations can be performed on that value.
## Importnce of datatypes:
 1. Memory Management: Different datatypes require different amounts of memory. By specifying the
    datatype, the programming language can allocate the appropriate amount of memory for the variable.
 2. Data Integrity: Datatypes help ensure that the data stored in a variable is of the expected type, which helps prevent errors and inconsistencies in the program.
 3. Operations and Functions: Different datatypes support different operations and functions. For example  
    you can perform arithmetic operations on integers and floats, but not on strings.
 4. Type Checking: Datatypes allow the programming language to perform type checking, which
    helps catch errors at compile time or runtime by ensuring that operations are performed on compatible types.
 5. Code Readability and Maintainability: Using appropriate datatypes makes the code more readable
    and easier to understand, which improves maintainability.
## Common Datatypes in Python:
 1. int: Represents integer values (e.g., 1, -5, 100)
 2. float: Represents floating-point numbers (e.g., 3.14, -0.001, 2.0)
 3. str: Represents strings, which are sequences of characters (e.g., "hello", 'Python')
 4. bool: Represents boolean values, which can be either True or False
 5. list: Represents ordered collections of items (e.g., [1, 2, 3], ['a', 'b', 'c'])
 6. tuple: Represents ordered, immutable collections of items (e.g., (1, 2), ('x', 'y', 'z'))
 7. dict: Represents key-value pairs (e.g., {'name': 'Alice', 'age': 30})
 8. set: Represents unordered collections of unique items (e.g., {1, 2, 3})

In [1]:
## Integer Example
age = 30
print("Age:", age)
type(age)  # Output: <class 'int'>

Age: 30

int

In [2]:
# float example
height = 5.9
print("Height:", height)
type(height)  # Output: <class 'float'>

Height: 5.9

float

In [3]:
# boolean example
is_student = True
print("Is Student:", is_student)
type(is_student)  # Output: <class 'bool'>

Is Student: True

bool

In [4]:
 # string example
name = "Alice"
print("Name:", name)
type(name)  # Output: <class 'str'>

Name: Alice

str

In [ ]:
## common errorsS
result ="hello" + 10

TypeError: can only concatenate str (not "int") to str

In [8]:
result ="hello" + str(10)
print(result)  # Output: hello10

hello10